.page-content {
    min-height: 100vh;
}

.content-wrap {
    width: 88% !important;
}

.content-wrap h4 {
    margin-bottom: 20px !important;
}

.form-control {
    height: 46px !important;
    margin-top: 0 !important;
}

.list-group-item .forward-right-link-img {
    width: 100%;
    font-size: 0.919rem;
}

.list-group-item .forward-right-link-img img {
    width: 14px;
    height: 14px;
    float: right;
    margin: 4px 0 0 0;
}

.bfh-currencies .bfh-selectbox-toggle {
    background-color: #e9ecef;
}

.card-container {
    padding: 0;
    margin: auto;
}

span[class="title-label"] label {
    font-size: 22px !important;
}

@media (max-width: 744px) {
    .card-container {
        width: 100% !important;
    }

    span[class="title-label"] label {
        font-size: 18px !important;
    }
}

@media (max-width: 412px) {
    .content-wrap h4 {
        font-size: 18px !important;
    }

    .form-control {
        font-size: 13px !important;
    }

    span[class="title-label"] label {
        font-size: 16px !important;
    }

    .card-container {
        font-size: 80%;
    }
}

@media (max-width: 354px) {
    .content-wrap h4 {
        font-size: 16px !important;
    }

    .form-control {
        font-size: 12px !important;
    }

    span[class="title-label"] label {
        font-size: 14px !important;
    }

    .card-container {
        font-size: 65%;
    }
}