.content-wrap {
    width: 93% !important;
}

.content-wrap h4 {
    margin-bottom: 5px !important;
}

.detail {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: right;
}

.form-control {
    height: 46px !important;
    margin-top: 0 !important;
}

@media (max-width: 744px) {
    .content-wrap h4 {
        margin-top: 15px !important;
    }

    .detail {
        font-size: 16px !important;
    }

    span[class="title-label"] label {
        font-size: 18px !important;
    }
}

@media (max-width: 470px) {
    .detail {
        margin-bottom: 0;
    }

    .col-md-12 a {
        font-size: 90% !important;
    }
}

@media (max-width: 412px) {
    .content-wrap h4 {
        font-size: 18px !important;
    }

    .form-control {
        font-size: 13px !important;
    }

    .detail {
        font-size: 80% !important;
    }

    .col-md-12 a {
        font-size: 80% !important;
    }
}

@media (max-width: 354px) {
    .content-wrap h4 {
        font-size: 14px !important;
    }

    .form-control {
        font-size: 12px !important;
    }

    .detail {
        font-size: 65% !important;
    }

    .col-md-12 a {
        font-size: 65% !important;
    }
}