.page-content {
    min-height: 100vh;
}

.content-wrap {
    width: 88% !important;
}

.form-control {
    height: 46px !important;
    margin-top: 0 !important;
}

span[class="title-label"] label {
    font-size: 22px !important;
}

.card-container {
    padding: 0;
    margin: auto;
}

@media (max-width: 744px) {
    .card-container {
        width: 100% !important;
    }

    span[class="title-label"] label {
        font-size: 18px !important;
    }
}

@media (max-width: 412px) {
    h4 {
        font-size: 18px !important;
    }

    .form-control {
        font-size: 13px !important;
    }

    span[class="title-label"] label {
        font-size: 16px !important;
    }

    .card-container {
        font-size: 80%;
    }
}

@media (max-width: 354px) {
    h4 {
        font-size: 16px !important;
    }

    .form-control {
        font-size: 12px !important;
    }

    span[class="title-label"] label {
        font-size: 14px !important;
    }

    .card-container {
        font-size: 65%;
    }
}