/* Content styles */
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    transition: .25s ease-in-out;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.main {
    position: relative;
    min-height: 100%;
}

.page-content > .row {
    margin: 0 !important;
}

.page-content .row .col-md-10 {
    margin-bottom: 66px;
    padding-left: 30px;
}

.nav-tabs li {
    border-top-left-radius: .55rem;
    border-top-right-radius: .55rem;
}

.nav-tabs li[class='nav-item-active'] {
    margin-bottom: -1px;
    background: #ffffff;
    border: 1px solid;
    border-color: #dee2e6 #dee2e6 #ffffff;
}

.nav-tabs li[class='nav-item-home'] {
    border: 1px solid;
    border-color: #dee2e6 #dee2e6 transparent;
}

.nav-tabs .nav-link:hover {
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: .55rem;
    border-top-right-radius: .55rem;
    margin-top: 0;
    border-color: transparent transparent transparent;
}

.nav-tabs .nav-link-hover:hover {
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: .55rem;
    border-top-right-radius: .55rem;
    margin-top: 0;
    border-color: #e3e3e3 #e3e3e3 transparent;
}

.nav-tabs .nav-link:active {
    cursor: pointer;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid;
    border-color: #dee2e6 #dee2e6 #ffffff;
    border-top-left-radius: .55rem;
    border-top-right-radius: .55rem;
}

/********************/

/** Login & Signup **/
.login-bg {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0));
    background-color: #eff0f3;
    background-repeat: no-repeat;
}

.login-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 86px;
}

.login-wrapper .box {
    float: none;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}

.login-wrapper .box h4 {
    text-transform: uppercase;
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.login-wrapper .box h6 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="tel"],
.login-wrapper .box input[type="password"],
.login-wrapper .box input[type="email"] {
    height: 40px;
    margin: 8px 0 0 0;
    font-size: 15px;
}

.login-wrapper .box input[type="text"]:focus,
.login-wrapper .box input[type="tel"]:focus,
.login-wrapper .box input[type="email"]:focus,
.login-wrapper .box input[type="password"]:focus {
    border: 1px solid #28a0e5;
    outline: none;
    -webkit-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
    -moz-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
    -ms-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
    -o-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
    box-shadow: inset 0 1px 2px #dddddd, 0px 0 5px #28a0e5;
}

.login-wrapper .box .action {
    position: relative;
    top: 0;
    padding: 0;
    text-align: center;
}

.login-wrapper .box .signup {
    width: 75%;
    height: auto;
    min-height: 46px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}

.login-wrapper .already {
    float: none;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.login-wrapper .already p {
    display: inline-block;
    color: #222;
}

.login-wrapper .already a {
    margin-left: 7px;
    color: #222;
    border-bottom: 1px solid;
}

.login-wrapper .already a:hover {
    text-decoration: none;
    color: #000;
    border-bottom-color: #000;
}

.login-wrapper .box .division {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 17px 0 23px;
    text-align: center;
}

.login-wrapper .box .division hr {
    width: 40%;
    position: absolute;
    margin: 0;
    border-width: 1px;
    border-color: #E2E2E4;
}

.login-wrapper .box .group-btn {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-wrapper .form-group select {
    width: 30%;
    height: 35px;
    font-size: 16px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-wrapper .box form textarea {
    height: 75px;
    resize: none;
    outline: none;
    overflow-x: hidden;
}

.panel-heading > .panel-title, .sidebar-header .panel-title {
    float: left;
    padding-left: 15px;
}

.panel-heading > .panel-title > *, .sidebar-header .panel-title > * {
    margin: 0;
}

.panel-heading > .panel-title > span, .sidebar-header .panel-title > span {
    font-weight: normal;
}

.panel-heading > .panel-options, .sidebar-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading > .panel-options > a, .sidebar-header .panel-options > a {
    margin-top: 10px;
}

.panel-body {
    clear: both;
}

table {
    width: 100%;
    border: 1px solid #333333;
}

td, th, tr {
    text-align: center;
    padding: 4px;
    border: 1px solid #333333;
}

th {
    background: rgba(208, 204, 204, 0.15);
}

tr:hover {
    background: rgba(208, 204, 204, 0.15);
}

td a:hover {
    text-decoration: none;
}

form .action {
    padding: 0;
}

form .action .btn-default {
    padding: 0;
}

form .btn-default {
    width: 85%;
    height: 40px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #ffffff;
}

form .btn-default:hover {
    box-shadow: 0 0 5px rgba(55, 55, 55, 0.1) inset;
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
}

form .btn-default:active {
    box-shadow: none;
}

form .btn-default a {
    color: #333333;
}

form .btn-default a:hover,
form .btn-default a:focus,
form .btn-default a:active {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.row-passwords {
    margin-top: 20px;
}

.bfh-selectbox-month,
.bfh-selectbox-year {
    min-width: 32%;
}

.bfh-selectbox-year {
    margin-left: 10px;
}

.bfh-selectbox-month.open > .bfh-selectbox-options,
.bfh-selectbox-year.open > .bfh-selectbox-options {
    min-width: 100%;
    width: auto;
    padding: 0;
}

.error-input {
    border-color: #ba0000 !important;;
}

.valid-input {
    border-color: #008400 !important;
}

.title-label {
    font-size: 28px;
    text-decoration: none;
}

.title-label:hover {
    text-decoration: none;
}

.for-form-label {
    width: 100%;
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: normal;
    color: #989797;
}

.default-label {
    display: initial;
    margin: 0;
    padding-left: 4px;
    text-align: left;
    font-size: 12px;
    font-weight: lighter;
    color: #ba0000;
}

.error-msg {
    position: absolute;
    color: #ba0000 !important;
}

.valid-msg {
    position: absolute;
    color: #008400 !important;
}

.valid-msg img {
    width: 12px;
    height: 14px;
    margin-left: 4px;
    padding-bottom: 2px;
}

#country-listbox {
    font-size: 13px;
    border-radius: .25rem;
}

.password-input {
    position: relative;
}

.password-control {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 9px;
    right: 9px;
    background-image: url("/resources/images/view.png");
}

.password-control.view {
    background-image: url("/resources/images/no-view.png");
}

.toggle-btn {
    position: absolute;
    left: -5000px;
}

.toggle-btn:checked + .toggle-btn-label {
    background: #428bca;
    box-shadow: 0 0 0 2px #357ebd;
}

.toggle-btn:checked + .toggle-btn-label:before {
    left: 40px;
    background: #ffffff;
    box-shadow: 0 0 0 2px #357ebd;
}

.toggle-btn-label {
    height: 20px;
    width: 60px;
    position: relative;
    display: block;
    margin: 10px auto;
    background: #cccccc;
    box-shadow: 0 0 0 2px #dddddd;
    border-radius: 50px;
}

.toggle-btn-label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
    border-radius: 50px;
}

.switcher-case-1 {
    float: left;
    margin: auto;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
}

.switcher-case-2 {
    float: right;
    margin: auto;
    font-size: 15px;
    text-transform: uppercase;
    color: #989797;
}

.on {
    color: #000000;
}

.off {
    color: #989797;
}

.icon {
    position: relative;
    display: inline-block;
    top: -2px;
    margin-left: 3px;
    line-height: 1.0;
    height: 17px;
    width: 17px;
    opacity: 0.9;
}

.icon-header {
    opacity: 0.9;
}

.tooltip {
    min-width: 150px !important;
    max-width: 200px !important;
    margin: 0;
    line-height: 1.3 !important;
    font-size: .875rem !important;
    color: #ffffff;
    border-radius: 0.3rem;
}

#alert {
    width: auto;
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 1;
    right: 0;
    padding: 0 10px 0 20px;
    margin: 0 20px 0 0;
    font-size: 16px;
}

#alert p {
    height: 36px;
    margin-right: 18px;
    padding-top: 18px;
}

#alert .close {
    height: 26px;
    width: 26px;
    margin-top: 10px;
    text-align: right;
    font-size: 36px;
}

.counter {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    margin-top: 4px;
    padding-right: 8px;
    font-size: 14px;
    color: #929292;
}

/**********/

/* Header */
.header {
    min-width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 1;
    margin-bottom: 22px;
    padding: 0 0 0 20px;
    background-color: #2c3742;
}

.header-without-margin {
    margin-bottom: 0;
}

.header .container-fluid {
    width: 100%;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
}

.header .row {
    width: 100%;
    height: 60px;
}

.header .logo {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0;
    padding: 0;
}

.header .logo a {
    align-self: center;
}

.header .logo img {
    width: 34px;
    height: 42px;
}

.header .logo h1 {
    width: 100%;
    align-self: center;
    margin: 0;
    padding-left: 28px;
    text-align: left;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
}

.header .form {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.header .navbar * {
    position: relative;
    align-self: center;
    box-shadow: none !important;
}

.header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    border: 0 !important;
    background: none !important;
}

.header .navbar .navbar-nav > div > a {
    margin-top: 0 !important;
    font-size: 20px !important;
    font-weight: bold;
    color: #fff !important;
    border-bottom: 0 !important;
}

.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
    background: none !important;
}

.header .navbar-collapse {
    border: 0 !important;
}

.header .dropdown-menu {
    width: 75%;
    position: absolute;
    border-radius: 5px !important;
    background: #fff !important;
}

.header .dropdown-menu .header-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: -2px;
    margin-top: 0;
    line-height: 1;
    opacity: 0.45;
}

.header .dropdown-menu .dropdown-item a {
    padding-left: 0 !important;
    color: #888;
}

.header .dropdown-menu .dropdown-item a:hover {
    color: #666 !important;
    border: 0 !important;
    background: none !important;
}

.header .dropdown-menu .dropdown-item:hover,
.header .dropdown-menu .dropdown-item:active {
    border-radius: 5px !important;
}


.header .dropdown-menu .dropdown-item:last-child {
    border: 0;
}

.header .navbar-nav .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.header .navbar-nav > .open > a .caret,
.header .navbar-nav > .open > a:hover .caret,
.header .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.language-form {
    display: inline-flex;
    text-align: right;
}

#language {
    width: 60px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: white;
    text-shadow: 1px 0px 1px white;
    border: 0;
    background-color: #2c3742;
}

/**************/

/* Sidebar */
.sidebar {
    padding: 18px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    background: #fff;
}

.box-with-header {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sidebar-header {
    min-height: 40px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 2px solid #eee;
    background: #f5f5f5;
}

.sidebar-header:after {
    clear: both;
}

.sidebar-icon {
    height: 17px;
    width: 17px;
    position: relative;
    display: inline-block;
    top: -1px;
    line-height: 1;
    margin-right: 12px;
    opacity: 0.5;
}

.sidebar-icon:hover,
.sidebar-icon:active {
    cursor: pointer;
    overflow: hidden;
}

.sidebar > a {
    display: flex;
}

.sidebar > a div:first-child {
    align-self: center;
}


.sidebar .list-group-item {
    border-radius: 4px;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

/****************/

/* Modal */

.modal-label {
    align-self: center;
    margin: 0 15px 0 0;
    font-size: 18px;
    font-weight: normal;
    color: #989797;
}

.modal-fixed-label {
    max-width: 40%;
    min-width: 28%;
    align-self: center;
    margin: 0 15px 0 0;
    line-height: initial;
    font-size: 15px;
    font-weight: normal;
    color: #989797;
}

.modal-form-control {
    height: 40px;
    text-align: left;
    font-size: 16px;
}

.modal-footer .btn-group {
    width: 100%;
    display: flex;
}

.modal-footer .btn-group form {
    width: 100%;
}

.closeButton {
    width: 88%;
    float: left;
    margin: auto;
}

.confirmButton {
    width: 95%;
    float: right;
}

.closeButton,
.confirmButton {
    height: 38px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
}

/* Footer */
.footer {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
    align-self: center;
    line-height: 25px;
    font-size: 14px;
    color: #ffffff;
    background-color: #2c3742;
    box-shadow: inset 0 0 3px #111;
}

.footer .container-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
}

.footer .container-fluid .social {
    align-self: center;
    padding-left: 7px;
}

#github-ico {
    width: 32px;
    height: 32px;
}

.footer .container-fluid .copyright {
    min-width: 48%;
    position: relative;
    align-self: center;
    margin: 0 0 0 16px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
}

.footer .container-fluid .time {
    min-width: 50%;
    align-self: center;
    inline-size: min-content;
    text-align: right;
}

.custom-date {
    inline-size: inherit;
    float: right;
    margin: 0;
    align-self: center;
    padding: 0 44px 0 0;
    font-size: 16px;
}

/****************/

/* Other */

.iti {
    width: 100% !important;
}

.iti__flag {
    background-image: url("/resources/images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("/resources/images/flags@2x.png");
    }
}

.icon-repeat {
    height: 36px;
    width: 36px;
    margin-left: 10px;
}

.icon-repeat:hover {
    cursor: pointer;
}

.icon-repeat:active {
    cursor: pointer;
    animation: rotateRepeat 0.3s linear 0s infinite reverse;
}

@keyframes rotateRepeat {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* For Error page */

#error_detail_message .code {
    font-size: 116px;
    text-shadow: 6px 6px 0px rgba(44, 55, 66, 0.2);
}

#error_detail_message .msg {
    margin-bottom: 50px;
    font-size: 68px;
}

.back-homepage {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    color: #100d37;
    text-shadow: 0px 0px 20px rgba(107, 137, 156, 0.9);
}

.back-homepage:hover {
    color: #343097;
    text-decoration: none;
}

.back-homepage:active {
    text-decoration: none;
}

.back-homepage img {
    height: 30px;
    width: 38px;
    top: -2px;
    margin-left: 16px;
    opacity: 0.8;
    border-radius: 5px;
}

.back-homepage:hover img,
.back-homepage:active img {
    box-shadow: 4px 4px 0 rgba(44, 55, 66, 0.2);
}

/*************/

@media (max-width: 992px) {
    .header .logo h1 {
        font-size: 26px !important;
    }
}

@media (max-width: 902px) {
    .header .logo h1 {
        font-size: 24px !important;
    }

    .header .navbar .navbar-nav > div > a {
        font-size: 17px !important;
    }

    #language {
        font-size: 19px !important;
    }
}

@media (max-width: 830px) {
    .header .logo h1 {
        font-size: 20px !important;
    }

    .header .logo img {
        width: 32px;
        height: 40px;
    }

    .header .navbar .navbar-nav > div > a {
        font-size: 17px !important;
    }

    #language {
        font-size: 19px !important;
    }
}

@media (max-width: 772px) {
    .header {
        height: 102px;
    }

    .header .logo h1 {
        font-size: 24px !important;
    }

    .header .logo img {
        width: 30px;
        height: 38px;
    }

    .header .navbar .navbar-nav > div > a {
        font-size: 15px !important;
    }

    #language {
        font-size: 17px !important;
    }

    .tooltip {
        visibility: hidden;
    }

    .row-passwords {
        margin-top: 0;
    }
}

@media (max-width: 575px) {
    div[class='mr-auto'] {
        margin-right: 0;
    }

    .header .logo h1 {
        padding-left: 16px;
        font-size: 22px !important;
    }

    .header .logo img {
        width: 30px;
        height: 38px;
    }
}

@media (max-width: 465px) {
    .header .logo h1 {
        font-size: 18px !important;
    }

    .custom-date {
        font-size: 14px !important;
    }
}

@media (max-width: 383px) {
    .col-auto {
        padding-left: 0;
    }

    #github-ico {
        width: 28px;
        height: 28px;
    }

    .footer .container-fluid .copyright {
        font-size: 9px;
    }
}

