.form-group {
    display: flex;
    margin-bottom: 0;
}

.login-wrapper .box .content-wrap .action {
    width: 80%;
    margin: auto;
    padding: 30px 0 10px 0;
}

@media (max-width: 992px) {
    .login-wrapper .box .content-wrap {
        width: 65%;
    }

    .login-wrapper .box .content-wrap .action {
        width: 78%;
        margin: auto !important;
    }

    .tooltip {
        visibility: hidden;
    }
}

@media (max-width: 681px) {
    .login-wrapper .box .content-wrap {
        width: 80%;
    }

    .login-wrapper .box .content-wrap .action {
        width: 85%;
    }
}

@media (max-width: 562px) {
    .login-wrapper .box .content-wrap h4 {
        font-size: 18px !important;
    }
}

@media (max-width: 514px) {
    .login-wrapper .box .content-wrap h4 {
        font-size: 16px !important;
    }
}

@media (max-width: 444px) {
    input[id="number"] {
        font-size: 100% !important;
    }
}
