.login-wrapper .box {
    padding: 0;
    border: none;
    border-radius: 6px;
}

.login-wrapper .box .card-header .nav-link img {
    width: 21px;
    height: 21px;
    top: -1px;
}

.card-body .action {
    text-align: unset;
}

.card-body .col-lg-9 .card .card-footer img {
    width: 14px;
    height: 14px;
}

.message-block span {
    padding-bottom: 20px !important;
    font-size: 22px !important;
}

@media (max-width: 439px) {
    .message-block span {
        font-size: 20px !important;
    }

    .message-block div {
        height: 132px !important;
    }

    .message-block div img {
        width: 132px !important;
        height: 132px !important;
    }
}

@media (max-width: 389px) {
    .message-block div {
        height: 108px !important;
    }

    .message-block div img {
        width: 108px !important;
        height: 108px !important;
    }
}
