.error_detail {
    text-align: center;
    margin-top: 85px;
}

#error_detail_message .code {
    font-size: 116px;
    text-shadow: 6px 6px 0px rgba(44, 55, 66, 0.2);
}

#error_detail_message .msg {
    margin-bottom: 46px;
    font-size: 68px;
}

.back-homepage {
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.back-homepage:hover {
    color: #343097;
    text-decoration: none;
}

.back-homepage:active {
    text-decoration: none;
}

.back-homepage img {
    height: 34px;
    width: 36px;
    margin: 0 0 4px 16px;
    opacity: 0.9;
    transform: translateY(0px);
}

.back-homepage:hover img,
.back-homepage:active img {
    transform: translateY(-2px);
}

@media (max-width: 542px) {
    #error_detail_message .code {
        font-size: 74px !important;
    }

    #error_detail_message .msg {
        margin-top: 18px !important;
        margin-bottom: 38px !important;
        font-size: 52px !important;
    }

    .back-homepage {
        font-size: 20px !important;
    }

    .back-homepage img {
        height: 30px;
        width: 32px;
    }
}

@media (max-width: 356px) {
    #error_detail_message .code {
        font-size: 56px !important;
    }

    #error_detail_message .msg {
        margin-top: 16px !important;
        margin-bottom: 34px !important;
        font-size: 34px !important;
    }

    .back-homepage {
        font-size: 15px !important;
    }

    .back-homepage img {
        height: 24px;
        width: 26px;
    }
}
