.content-wrap {
    width: 93% !important;
}

.content-wrap h4 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.content-wrap .first-detail {
    padding: 5px 15px 15px 0;
    font-size: 18px;
    text-align: right;
}

.content-wrap .last-detail {
    padding: 10px 15px 0 15px;
    font-size: 18px;
    text-align: right;
}

.form-control {
    height: 46px !important;
    margin-top: 0 !important;
}

@media (max-width: 767px) {
    .content-wrap h4 {
        margin-top: 15px !important;
    }

    .content-wrap .first-detail {
        padding: 10px 15px 10px 0 !important;
        font-size: 16px !important;
    }

    .content-wrap .last-detail {
        font-size: 16px !important;
    }

    span[class="title-label"] label {
        font-size: 18px !important;
    }
}

@media (max-width: 470px) {
    .login-wrapper .card-body-main {
        padding: 25px 32px 35px 32px !important;
    }

    .content-wrap .first-detail,
    .content-wrap .last-detail {
        font-size: 14px !important;
    }

    .col-md-12 a {
        font-size: 90% !important;
    }
}

@media (max-width: 412px) {
    .content-wrap h4 {
        font-size: 18px !important;
    }

    .content-wrap .first-detail,
    .content-wrap .last-detail {
        font-size: 12px !important;
    }

    .form-control {
        font-size: 13px !important;
    }

    .col-md-12 a {
        font-size: 80% !important;
    }
}

@media (max-width: 354px) {
    .content-wrap h4 {
        font-size: 14px !important;
    }

    .content-wrap .first-detail,
    .content-wrap .last-detail {
        font-size: 11px !important;
    }

    .form-control {
        font-size: 12px !important;
    }

    .col-md-12 a {
        font-size: 65% !important;
    }
}
