.login-wrapper .box {
    padding: 0;
    border: none;
    border-radius: 6px;
}

.card-body .col-lg-9 .card .card-footer img {
    width: 14px;
    height: 14px;
}

.message-block span {
    padding-bottom: 20px !important;
    font-size: 22px !important;
}

@media (max-width: 439px) {
    .message-block span {
        font-size: 20px !important;
    }

    .message-block div {
        height: 132px !important;
    }

    .message-block div img {
        width: 132px !important;
        height: 132px !important;
    }
}

@media (max-width: 389px) {
    .message-block div {
        height: 108px !important;
    }

    .message-block div img {
        width: 108px !important;
        height: 108px !important;
    }
}

.login-wrapper .box #number {
    text-align: left;
    font-size: 16px;
}

.bfh-selectbox .bfh-selectbox-toggle {
    height: 40px;
    text-align: left;
    font-size: 14px;
}

.bfh-selectbox .bfh-selectbox-options ul li > a {
    text-align: left;
    font-size: 14px;
}

.login-wrapper .box #amount {
    text-align: center;
    font-weight: normal;
    border: 0;
}

.ui-widget.ui-widget-content {
    width: 94%;
    margin: auto;
}

.login-wrapper .box #amount:focus {
    box-shadow: none;
}

.ui-slider-horizontal .ui-slider-range {
    transition: 0s cubic-bezier(0.4, 0, 1, 1);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #f0f1f2;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: 0s cubic-bezier(0.4, 0, 1, 1);
    outline: none;
    z-index: 1;
}

@media (max-width: 992px) {
    .tooltip {
        visibility: hidden;
    }
}

@media (max-width: 394px) {
    h4 {
        font-size: 18px !important;
    }

    .card-container {
        font-size: 80%;
    }
}

@media (max-width: 354px) {
    h4 {
        font-size: 16px !important;
    }

    .card-container {
        font-size: 65%;
    }
}