.login-wrapper .box {
    padding: 0;
    border: none;
    border-radius: 6px;
}

.login-wrapper .box .card-body .col-lg-9 {
    padding: 0 30px 0 0;
}

.login-wrapper .box .card-header .nav-link img {
    width: 21px;
    height: 21px;
    top: -1px;
}

.card-body .search-block {
    margin: 0 0 30px 0;
    text-align: center;
}

.card-body .search-block label {
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

.card-body .action {
    text-align: unset;
}

.card-body .col-lg-9 .card .card-footer img {
    width: 14px;
    height: 14px;
}
